body
{
	margin:0;
}
#gauche
{
	float:left;
	width:70%;
	height:1000px;
	background-color: #20b2aa;
}
#droite
{
	background-color: #ff1493;
	height: 1000px;
	padding : 10px;
	padding-left: 71%;
}
input, button, span
{
	margin:10px;
}

